html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

section {
  background-color: #f2f2f2;
  padding: 1em;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
}

img {
  width: 100%;
  display: block;
}

a {
  padding: 0.5em;
  border: 2px solid #333333;
  border-radius: 4px;
}
*, *::before, *::after {
  box-sizing: inherit;
}
